[Desktop Entry]
Name=FreeTube
Comment=An Open Source YouTube app for privacy.
GenericName=FreeTube
Exec=FreeTube-wrapper %U
Icon=FreeTube
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Video;Player;TV;

